i { 
    color: white;
}

i:hover {
    color: #7b645e;
}

a {
    text-decoration: none;
}

.card {
    opacity: 0.9;
}

.twemoji {
    height: 1.2em;
    width: 1.2em;
    vertical-align: -0.1em;
}
